version: '2.4'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: student
      DB_USER: govind
      DB_PASSWORD: govind123
    networks:
      app-network:
    depends_on:
      db:
        condition: service_healthy
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_USER: govind
      MYSQL_PASSWORD: govind123
      MYSQL_DATABASE: student 
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      app-network:
    volumes:
      - db-volume:/var/lib/mysql
networks:
  app-network:
volumes:
  db-volume:
